* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    
}
/* ----------------------- modifiche barra superiore */
.nav-superiore {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    padding-bottom: 1rem;
    height: 50px;
    background-color: red;
}

.nav-sup-fill {
    background-color: rgba(219,219,219,0.5);
    padding: .3rem;
    display: inline-block;
    border-radius: 8px;   
    border-style: none;
}

/* ------------------------ classi sezione primaria */

.card-container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px - 50px);
    background-color: black;
    padding: 0 1vw;
    gap: 4px;
}

footer {
    height: 100px;
    background-color: yellow;
}