* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    
}
/* ----------------------- modifiche barra superiore */
.nav-superiore {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    padding: .2rem .2rem 1rem;
    height: 50px;
    background-color: black;
}

.nav-sup-fill {
    background-color: rgba(219,219,219,0.5);
    padding: .3rem;
    display: inline-block;
    border-radius: 8px;   
    border-style: none;
}

/* ------------------------ classi sezione primaria */

img {
    width: 100%;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(100vh - 100px - 50px);
    background-color: black;
    padding: 0 5vw;
    gap: 4px;
}

.card {
    background-color: blue;
    flex-basis: calc((100% - 24px) / 7);
}
    

footer {
    height: 100px;
    background-color: yellow;
}